global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    #    log         127.0.0.1 local2
    log /dev/log local0
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

frontend rabbit_frontend
mode tcp
bind *:5672
log global
option tcplog
option logasap
option clitcpka
timeout client  3h
default_backend rabbit-backend
  
backend rabbit-backend
mode            tcp
balance         roundrobin
timeout server  3h

{% set count = namespace(a=1) %}
{% for items in rmq_local_ip %}
server rmq-{{ count.a }} {{ items }}:5672 check inter 5s rise 2 fall 3
{% set count.a = count.a + 1 %}
{% endfor %}
